/* myapp/static/styles.css */
body {
    font-family: Arial, sans-serif;
    /* Define a fonte do corpo */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    /* Define a cor de fundo */
}

h1 {
    color: #333;
    /* Define a cor do cabeçalho */
}

button {
    background-color: #4CAF50;
    /* Define a cor de fundo do botão */
    color: white;
    padding: 10px 20px;
    border: none;

    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
    /* Define a cor do botão ao passar o
    mouse */
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra
    ao formulário */
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    /* Define a cor de fundo do cabeçalho
    da tabela */
}

.btn-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    padding: 10px;
}