<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produção - Vídeo</title>
</head>

<body>
    <center>
        <div class="div-main-info">
            <div class="div-title">
                <h1>Operações de Usinagem - TORNEAMENTO</h1>
            </div>
            <hr>
            <div class="div-video-section">
                <video controls autoplay loop muted>
                    <source src="https://www.youtube.com/watch?v=u5QMiLkHm_Q" type="video/mp4">
                </video>
            </div>
        </div>
    </center>
</body>

</html>